<div>
  <p>product-detail works!</p>
  <span style="font-weight: 600; font-size: large;">{{productName}}</span><br>
  <img alt="Product Image not loaded" src="https://www.dropbox.com/s/x1ts5eone4mqxgw/pexels-math-90946.jpg?raw=1"
    width="1000" height="500"><br>

  <p>26.1MP 4th generation APS-C X-Trans CMOS 4 Sensor and X-Processor 4 Engine;5-Axis In-Body Image Stabilization
    (IBIS)
    The new AF algorithm on the X-T4 gives an AF speed of up to 0.02 second; which is the fastest AF speed among
    mirrorless cameras with an APS-C size sensor</p>
  <p>The Face / Eye AF performance has been updated and is now around twice
    as good at tracking peoples face and eye while shooting in burst mode.
    The AF system in the X-T4 works down to -6.0EV, which is almost complete darkness. The phase detection AF system is
    fast and accurate even in these low light conditions.;4K/60P & Full HD/240P Videos
  </p>

  <p>The X-T4 features a new Film Simulation mode, “ETERNA Bleach Bypass,” to give both film and stills a more artistic
    look, with images having reduced saturation and increased contrast.; The X-T4 has 63 weather sealed points which
    gives it the advanced level of dust- and moisture resistance.</p>
</div>
